[user]
  email = ralin.chimev@gmail.com
  name = Ralin Chimev
[color]
  ui = auto
[alias]
  aa = add --all
  lo = log --oneline --decorate
  lg = log --oneline --graph --decorate --all
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
[fetch]
  prune = true
[rebase]
  autosquash = true
